<div>
  <h2><%= link_to "#{event.title}", event, class: 'link-dark' %></h2>
  <p><%= event.description %></p>
  <p>Will be happy to see you!</p>
  <p>Event date: <%= event.event_date %></p><br />
  <p>Event held by: <%= event.creator.email %></p>
</div>